<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <title>About Tekken Reborn game</title>
    </head>
    <body>
        <div
            class="d-flex flex-column bd-highlight justify-content-center align-items-center w-75 ms-5"
        >
            <div>
                <h1 class="text-center">Tekken Reborn</h1>
                <img
                    th:src="@{images/tekken-reborn.jpg}"
                    width="500px"
                    alt="tekken-reborn"
                />
                <p>
                    I grew up not knowing about gaming, but it looks pretty cool
                </p>
                <p>
                    Tekken (Japanese: 鉄拳 literal translation: Tetsu no ken,
                    "Iron Fist") is a Japanese media franchise centered on a
                    series of fighting video and arcade games developed and
                    published by Bandai Namco Entertainment (formerly Namco).
                    The franchise also includes film and print adaptations. The
                    main games in the series follow the events of the King of
                    Iron Fist Tournament, hosted by the Mishima Zaibatsu, where
                    players control a plethora of characters to win the
                    tournament and gain control of the company; the conflict
                    between the Mishima family serves as the main focus of the
                    series' plot, while players explore other characters'
                    motivations in aiming to control the Zaibatsu. Gameplay
                    focuses on hand-to-hand combat with an opponent, with the
                    gameplay system including blocks, throws, escapes, and
                    ground fighting. The series later introduced combos and
                    special moves, with characters also able to stage break
                    arenas. Tekken is noted as being one of the first fighting
                    games at the time to use 3D animation.
                </p>
            </div>
        </div>
    </body>
</html>
